// 湖綠色
$clr_teal_L0: #00ADBB; // main
$clr_teal_L1: #66CED6;
$clr_teal_L2: #B3E6EB;

// 灰階
$clr_gray_L0: #333333; // 主要文字 ex.標題 內文
$clr_gray_L1: #444444; // 主要文字 ex.標題 內文
$clr_gray_L2: #888888; // 次要文字 ex.圖片敘述 消息摘要 內文
$clr_gray_L3: #cccccc; // 輔助文字 ex.輸入框提示字
$clr_gray_L4: #E6E6E6; // disabled
$clr_gray_L5: #F8F8F8;
$clr_fff: #FFFFFF;

// 提示
$clr_success: #6C9255; // 正確/成功
$clr_warning: #EFA828; // 異常/警告
$clr_danger:  #941111; // 錯誤/刪除